<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Destiny App</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="destiny-app">
  <div v-bind:class="{blue: color.card=blue}" v-for="color in cards">{{card.color}}
    <!--img goes here-->
    <div v-bind:class="{health}">
      <p v-for="health in cards">{{card.health}}</p>
    </div>
    <div v-bind:class="{rare: card.rarity=true}">
      <p v-for="rarity in cards">{{card.rarity}}</p>
    </div>
    <div class="name">
      <p v-for="name in cards">{{card.name}}</p>
    </div>
    <div v-bind:class="{affl: card.affl=hero}">
      <p v-for="affl in cards">{{card.affl}}</p>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
